.registration {
  width: 70%;
  margin: 30px 0;

  @media only screen and (max-width: 700px) {
    width: 90%;
  }

  .registration__form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn {
      width: 80%;
      padding: 8px;
      font-size: large;
      background: green;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

    h2 {
      border-bottom: 1px solid black;
      padding-bottom: 6px;
    }

    .registration__form__checkbox {
      margin: 20px 0;
    }

    .registration__form__container__two {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;

      @media only screen and (max-width: 700px) {
        flex-direction: column;
        width: 100%;
      }

      .registration__form__container__two__first {
        margin-right: 12px;

        @media only screen and (max-width: 700px) {
          margin-right: 0px;
        }
      }

      .registration__form__container__two__second {
        margin-left: 12px;

        @media only screen and (max-width: 700px) {
          margin-left: 0px;
        }
      }
    }

    .registration__form__item {
      margin: 24px 0;
      width: 80%;

      label {
        width: 100%;
        display: inline-block;
      }

      input,
      select {
        width: 100%;
        margin-top: 8px;
        border-radius: 3px;
        border: 1px solid black;
        padding: 6px;
        cursor: pointer;
      }
    }

    .registration__form__item__radio {
      margin-top: 14px;
      display: flex;
      align-items: center;

      .radioinput {
        width: 20px;
        margin: 0;
        padding: 0;
      }

      label {
        width: 50px;
        margin: 0;
        padding: 0;
      }
    }

    .registration__form__checkbox {
      input {
        cursor: pointer;
      }
    }
  }
}

.errormsg {
  background: transparent;
  margin: 4px;
  width: 70%;
  text-align: center;
  padding: 4px;
  border: 1px solid red;
  border-radius: 4px;
  color: red;
  font-weight: 500;
}
